%section
  %h2.bottom.red Can I get support?

%section
  %img.bottom(src="#{site.base_url}/images/as7_to_eap.png" width="800")

%section
  %img.diagram(src="#{site.base_url}/images/subscriptions.png" width="800")

%section
  %h1 Web Framework Kit
  :markdown
    
    * Companion product to JBoss EAP6
    * WFK2: June 2012
    * Includes Snowdrop 2.0
    * Certifies Spring Framework 2.5,3,3.1 
    * Certifies Spring Security, Webflow, Web Services
	  
  
